@import "../../assets/variables";

.flex_gallery {
  height: calc(100vh - 200px);
  .container_gallery {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    .picture_gallery {
      height: 110px;
      box-shadow: 6px 6px 8px 2px $blackColor;
    }
  }
}
