@import "../../assets/variables";

.text_welcome {
  color: $blackColor;
  text-shadow: 1px 1px 10px $textShadow;
  margin: 5px 0;
  padding-left: 5px;
  font-size: 14px;
}
.container_photo_home {
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  .photo_home {
    height: 160px;
    box-shadow: 10px 10px 4px -7px black;
  }
}
.set_up_welcome {
  height: calc(100vh - 600px);
}
.info_contact {
  text-align: start;
  color: $blackColor;
  text-shadow: 1px 1px 10px $textShadow;
  line-height: 28px;
  .phone_welcome {
    font-size: 16px;
    margin: 0;
  }
  .phone_welcome::before {
    content: url(../../images/16-tel.png);
    margin: 0 5px;
    position: relative;
    top: 2px;
  }
  .redirect_link {
    font-size: 16px;
    text-decoration: none;
    color: $blackColor;
    display: block;
  }
  .email_welcome::before {
    content: url(../../images/16-gmail.png);
    margin: 0 5px;
    position: relative;
    top: 2px;
  }
  .facebook_welcome::before {
    content: url(../../images/16-facebook.png);
    margin: 0 5px;
    position: relative;
    top: 2px;
  }
}
