:root {
  font-family: "Tangerine", cursive;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-image: url(./images/photo_Andréa_1.jpg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
}
